<div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">Spooktube</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/upload">Upload</a></li>
      </ul>
    </div>
  </div>